@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
  scrollbar-color: black grey;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-color: black grey;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 90%;
  margin: 0px auto;
  padding: 120px 0px;
  scrollbar-color: black grey;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  scrollbar-color: black grey;
}

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    scrollbar-color: black grey;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    scrollbar-color: black grey;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
    max-width: 1000px;
    scrollbar-color: black grey;
  }

  blockquote p {
    color: black;
    font-size: 3rem;
    display: inline;
    line-height: 1.1;
    background-color: grey;
    scrollbar-color: black grey;
  }
  a{
    text-decoration: none;
    color: black;
    scrollbar-color: black grey;
  }

  .left {
    grid-column: 6 / 12;
    scrollbar-color: black grey;
  }
