body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 500%;
    margin-bottom: 10%;
    margin-top: 5%;
}
.video {
    aspect-ratio: 16/9;
    width: 50%;
    margin-left: 25%;
}