body{
    background-color: black;
    scrollbar-color: grey black;
}
h1{
    color: white;
    text-align: center;
    font-size: 500%;
    margin-bottom: 10%;
    margin-top: 5%;
    scrollbar-color: grey black;
}
p{
    color: white;
    text-align: center;
    font-size: 300%;
    scrollbar-color: grey black;
}
a{
    text-decoration: none;
    color: black;
    scrollbar-color: grey black;
}
button.left{
    background-color: blue;
    width: 10%;
    font-size: 150%;
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 0%;
    scrollbar-color: grey black;
    border-radius: 24px;
}
button.right{
    background-color: blue;
    width: 10%;
    font-size: 150%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 39%;
    scrollbar-color: grey black;
}
